
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ">
            <li class="nav-item active ">
              <a class="nav-link" href="user">home</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="file">my files</a>
            </li>
          </ul>
      
        </div>
      <form class="d-flex">
        <button class="btn btn-outline-success" type="submit" (click)="signup()">login</button>
      </form>
  </nav>