<body id="body-pd">
  <header class="header" id="header">
    <div class="header_toggle">
      <i class="bx bx-menu" id="header-toggle"></i>
    </div>
  </header>
  <div class="l-navbar" id="nav-bar">
    <nav class="nav">
      <div>
        <a href="#" class="nav_logo">
          <i class="bx bx-layer nav_logo-icon"></i>
          <span class="nav_logo-name">AdminManagement</span>
        </a>
        <div class="nav_list">
          <a href="admin" class="nav_link active">
            <i class="bx bx-grid-alt nav_icon"></i>
            <span class="nav_name">Dashboard</span>
          </a>
          <a href="admin-users" class="nav_link">
            <i class="bx bx-user nav_icon"></i>
            <span class="nav_name">Users</span>
          </a>
          <a href="mission" class="nav_link">
            <i class="bx bx-message-square-detail nav_icon"></i>
            <span class="nav_name">missions</span>
          </a>
          <a href="balance" class="nav_link">
            <i class="bx bx-folder nav_icon"></i>
            <span class="nav_name">balance</span>
          </a>
          <a href="sign" class="nav_link">
            <i class="bx bx-folder nav_icon"></i>
            <span class="nav_name">create user</span>
          </a>
        </div>
      </div>
      <a href="#" class="nav_link">
        <i class="bx bx-log-out nav_icon"></i>
        <hr>
        <span class="nav_name" (click)="logout()">SignOut</span>
      </a>
    </nav>
  </div>
  <!--Container Main start-->
</body>
