<app-admin-nev></app-admin-nev>
<div>
    
    <div class="input-group rounded">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        <span class="input-group-text border-0" id="search-addon">
          <i class="fas fa-search"></i>
        </span>
      </div>

      <div>
        <a href="sign" type="button" class="btn btn-primary">+</a>
      </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">first Name</th>
                <th scope="col">last Name</th>
                <th scope="col">age</th>
                <th scope="col">address</th>
                <th scope="col">Email</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <a href=""></a><tr *ngFor="let item of obj">
                <th scope="row">{{ item.id }}</th>
                <td>{{ item.first_name }}</td>
                <td>{{ item.last_name }}</td>
                <td>{{ item.age }}</td>
                <td>{{ item.address }}</td>
                <td>{{ item.email }}</td>
                <td>
                    <button type="button" (click)="deleteUser(item.id)" >Delete</button>
                    <button type="button"  >open</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>