
<div class="container text-center">
    <div class="row">
      <div class="col">
       <app-admin-nev></app-admin-nev>
      </div>
      <div class="col">

        <div class="m padding ">
            <a href="admin-users">
                <div class="card " style="height: 30.3rem; ">
                  <div class="card-body ">
                    <div class="d-flex flex-column align-items-center text-center">
                      <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                      <div class="mt-3">
                        <h4>users</h4>
                      </div>
                    </div>
                  </div>
                </div>
            </a>
          </div>

      </div>
      <div class="col">

        <div class=" mb-3 padding">
            <a href="mission">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                      <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                      <div class="mt-3">
                        <h4>mission</h4>
                      </div>
                    </div>
                  </div>
                </div>
            </a>
          </div>
                <div class="mb-3">
                    <a href="balance">
                        <div class="card">
                          <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                              <div class="mt-3">
                                <h4>balance</h4>
                              </div>
                            </div>
                          </div>
                        </div>
                    </a>
                </div>
      </div>
    </div>
  </div>