
<div class="container text-center">
  <div class=" padding"></div>  
  <div class="row">
      <div class="col">
       <app-admin-nev></app-admin-nev>
      </div>
      <div class="col">

        <div class="m  ">
            <a href="admin-users">
                <div class="card " style="height: 30.3rem; ">
                  <div class="card-body ">
                    <div class="d-flex flex-column align-items-center text-center">
                      <img src="/assets/SubsidiaryComapany.png" alt="Admin" class="rounded-circle" >
                    </div>
                  </div>
                </div>
            </a>
          </div>

      </div>
      <div class="col">

        <div class=" mb-3 ">
            <a href="mission">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                      <img src="/assets/mission.png" alt="Admin" class="rounded-circle" >
                    </div>
                  </div>
                </div>
            </a>
          </div>
                <div class="mb-3">
                    <a href="balance">
                        <div class="card">
                          <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                              <img src="/assets/balance.jpg" alt="Admin" class="rounded-circle" width="100%" >
                        
                            </div>
                          </div>
                        </div>
                    </a>
                </div>
      </div>
    </div>
  </div>