<div class="container">
    <app-admin-nev></app-admin-nev>
</div>




<div class="container">
    <div class="row">
        <div class="col-xl-12 mb-3 mb-lg-5">
            <div class="card">
                <div class="card-body">

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item pt-0">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <h6 class="mb-0">Inara Britt</h6>
                                </div>
                                <div class="flex-shrink-0 text-end">
                                    <span>
                                        <button class="btn btn-success">done</button>
                                    </span>
                                </div>
                            </div>
                        </li>
                    
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xl-12 mb-3 mb-lg-5">
            <div class="card">
                <div class="card-body">

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item pt-0">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <h6 class="mb-0">Inara Britt</h6>
                                </div>
                                <div class="flex-shrink-0 text-end">
                                    <span>
                                        <button class="btn btn-success">done</button>
                                    </span>
                                </div>
                            </div>
                        </li>
                       
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-xl-12 mb-3 mb-lg-5">
            <div class="card">
                <div class="card-body">

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item pt-0">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <h6 class="mb-0">Inara Britt</h6>
                                </div>
                                <div class="flex-shrink-0 text-end">
                                    <span>
                                        <button class="btn btn-success">done</button>
                                    </span>
                                </div>
                            </div>
                        </li>
                       
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="padding">
    <div class="container center" style="border-color: rgb(244, 0, 0); margin-bottom: 2%; ">
        <ul class="list-group">
            <li class="most importent">most impotent:</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
            <li class="list-group-item">A fourth item</li>
            <li class="list-group-item">And a fifth one</li>
          </ul>
      </div>
      <div class="container center" style="border-color: rgb(255, 98, 0); margin-bottom: 2%;">
        <ul class="list-group">
            <li class="list-group-item">impotent:</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
            <li class="list-group-item">A fourth item</li>
            <li class="list-group-item">And a fifth one</li>
          </ul>
      </div>
      <div class="container center" style="border-color: rgb(244, 175, 0); margin-bottom: 2%;">
        <ul class="list-group">
            <li class="list-group-item">less impotent:</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
            <li class="list-group-item">A fourth item</li>
            <li class="list-group-item">And a fifth one</li>
          </ul>
      </div>
</div> -->