@import '~bootstrap/dist/css/bootstrap.min.css';


.center {
    border: 5px solid;
    margin: auto;
    width: 50%;
    padding: 10px;
}
.padding{
    padding: 2%;
    
}
body{margin-top:20px;
    background:#EDF1F9;
    }
    .card {
        box-shadow: 0px 20px 27px 0 rgba(255, 0, 0, 0.613);
    }
    .avatar {
        width: 3rem;
        height: 3rem;
        font-size: .765625rem;
    }
    a {
    text-decoration:none;    
    }
    .shadow-red{
        box-shadow: 0px 20px 27px 0 rgba(255, 0, 0, 0.441);
    }
    .shadow-ornge{
        box-shadow: 0px 20px 27px 0 rgba(255, 106, 0, 0.477);
    }
    .shadow-yellow{
        box-shadow: 0px 20px 27px 0 rgba(255, 174, 0, 0.445);
    }
    .container{
        width: 70%;
    }