<div class="container">
    <app-admin-nev></app-admin-nev>
</div>

<div style="height: 50px; width: auto;"></div>
<h1 class="text-center">All Task</h1>
<div class="container"   >
    <div class="row">
        <div class="col-xl-12 mb-3 mb-lg-5">
            <div class="card shadow-red">
                <div class="card-body">
                    <div class="text-center">priority 1</div>
                    <ul class="list-group list-group-flush"*ngFor="let thing of obj">
                        <li class="list-group-item pt-0" *ngIf="thing.priority=='1'">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <h6 class="mb-0" (click)="goUser(thing.assign_to)"> {{thing.task}}</h6>
                                </div>
                                <div class="flex-shrink-0 text-end">
                                    <span>
                                        <button class="btn btn-success" (click)="done(thing.id)">done</button>
                                    </span>
                                </div>
                            </div>
                        </li>
                    
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xl-12 mb-3 mb-lg-5">
            <div class="card shadow-ornge">
                <div class="card-body">
                    <div class="text-center">priority 2</div>
                    <ul class="list-group list-group-flush"*ngFor="let thing of obj">
                        <li class="list-group-item pt-0" *ngIf="thing.priority=='2'">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <h6 class="mb-0">{{thing.task}}</h6>
                                </div>
                                <div class="flex-shrink-0 text-end">
                                    <span>
                                        <button class="btn btn-success"(click)="done(thing.id)">done</button>
                                    </span>
                                </div>
                            </div>
                        </li>
                       
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-xl-12 mb-3 mb-lg-5">
            <div class="card shadow-yellow">
                <div class="card-body">
                    <div class="text-center">priority 3</div>
                    <ul class="list-group list-group-flush"*ngFor="let thing of obj">
                        <li class="list-group-item pt-0" *ngIf="thing.priority=='3'">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <h6 class="mb-0">{{thing.task}}</h6>
                                </div>
                                <div class="flex-shrink-0 text-end">
                                    <span>
                                        <button class="btn btn-success" (click)="done(thing.id)">done</button>
                                    </span>
                                </div>
                            </div>
                        </li>
                       
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="padding">
    <div class="container center" style="border-color: rgb(244, 0, 0); margin-bottom: 2%; ">
        <ul class="list-group">
            <li class="most importent">most impotent:</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
            <li class="list-group-item">A fourth item</li>
            <li class="list-group-item">And a fifth one</li>
          </ul>
      </div>
      <div class="container center" style="border-color: rgb(255, 98, 0); margin-bottom: 2%;">
        <ul class="list-group">
            <li class="list-group-item">impotent:</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
            <li class="list-group-item">A fourth item</li>
            <li class="list-group-item">And a fifth one</li>
          </ul>
      </div>
      <div class="container center" style="border-color: rgb(244, 175, 0); margin-bottom: 2%;">
        <ul class="list-group">
            <li class="list-group-item">less impotent:</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
            <li class="list-group-item">A fourth item</li>
            <li class="list-group-item">And a fifth one</li>
          </ul>
      </div>
</div> -->