
<app-admin-nev></app-admin-nev>
<div class="main-body"> 
    <div class="input-group rounded">
       <app-serch (newItemEvent)="addItem($event)"></app-serch>
      </div>

      <div class="d-flex flex-row-reverse bd-highlight">
        <a href="sign" type="button" class="btn btn-primary  bd-highlight">+</a>
      </div>

    <table class=" table table-success table-striped-columns">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">first Name</th>
                <th scope="col">last Name</th>
                <th scope="col">age</th>
                <th scope="col">address</th>
                <th scope="col">Email</th>
                <th scope="col">EDIT</th>
                <th scope="col"> DELETE</th>
            </tr>
        </thead>
        <tbody>
            <a href=""></a><tr *ngFor="let item of tempObj; index as i">
                <th scope="row">{{ i+1 }}</th>
                <td>{{ item.first_name }}</td>
                <td>{{ item.last_name }}</td>
                <td>{{ item.age }}</td>
                <td>{{ item.address }}</td>
                <td>{{ item.email }}</td>
                <td>
                    <button type="button" class="btn btn-success " (click)="openUser(item.id)" >EDIT</button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" (click)="deleteUser(item.id)" >X</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>