<app-nev></app-nev>


<div class="wrapper fadeInDown">
    <div id="formContent">


      <div class="fadeIn first">
        <h3>sign up</h3>
      </div>

      <form>
        <input  type="text" id="first-name" class="fadeIn second" name="login" placeholder="first name">
        <input type="text" id="last-name" class="fadeIn second" name="login" placeholder="last name">
        <input type="email" id="email" class="fadeIn second" name="login" placeholder="email">
        <input type="text" id="address" class="fadeIn second" name="login" placeholder="address">
        <input type="text" id="gender" class="fadeIn second" name="login" placeholder="gender F/M">
        <input type="number" id="age" class="fadeIn second" name="login" placeholder="age">
        <input type="password" id="password" class="fadeIn third" name="login" placeholder="password">
        <input type="submit" class="fadeIn fourth"  onclick="name()" value="sign up">
      </form>
    </div>
  </div>