<app-nev></app-nev>
<p>{{obj|json}}</p>


<div class="wrapper fadeInDown">
    <div id="formContent">

      <div class="fadeIn first">
        <h3>sign up</h3>
      </div>

      <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
        <input  type="text" id="first-name" class="fadeIn second" name="login" placeholder="first name" [(ngModel)]="data.first_name"/>
        <input type="text" id="last-name" class="fadeIn second" name="login" placeholder="last name" [(ngModel)]="data.last_name"/>
        <input type="email" id="email" class="fadeIn second" name="login" placeholder="email" [(ngModel)]="data.email"/>
        <input type="text" id="address" class="fadeIn second" name="login" placeholder="address" [(ngModel)]="data.address"/>
        <input type="text" id="gender" class="fadeIn second" name="login" placeholder="gender F/M" [(ngModel)]="data.gender"/>
        <input type="number" id="age" class="fadeIn second" name="login" placeholder="age" [(ngModel)]="data.age"/>
        <input type="text" id="age" class="fadeIn second" name="login" placeholder="reason" [(ngModel)]="data.reason"/>
        <input type="password" id="password" class="fadeIn third" name="login" placeholder="password" [(ngModel)]="data.password"/>
        <input type="submit" class="fadeIn fourth" value="sign up">
      </form>
    </div>
  </div>